.webform-component.egbolig-datepopup .form-item{
    margin-top: 0;
}
.webform-component.egbolig-datepopup .col-sm-6 {
    width: 100%;
}
.webform-component.egbolig-datepopup  .datepicker-wrap {
    margin-top: 1em;
}

