
body			{ margin:0; padding:0; font:normal 100% 'Open Sans', Helvetica, Arial, sans-serif; font-weight:400; background:#c5d1d7 /*#fff*/ !important; color:#000; }
body.NoPad		{ margin:0; padding:0; font:normal 100% 'Open Sans', Helvetica, Arial, sans-serif; font-weight:400; background:#c5d1d7 /*#fff*/ url(bg_kontaktcenter.png) repeat-x !important; color:#000; }
.header, .SD_ArticleBox { max-width:768px; }
.SD_ArticleBox, .embedArticleContent { font:normal 100% 'Open Sans', Helvetica, Arial, sans-serif ; /*font-size:18px !important;  */}
.SD_ArticleBox h1   { font-size:24px !important; font-weight:bold !important; color:#000 !important; }
.SD_ArticleBox h2   { font-size:20px !important; font-weight:bold !important; color:#666 !important; }
.SD_ArticleBox h3   { font-size:18px !important; font-weight:bold !important; color:#000 !important; }
.SD_ArticleBox h4   { font-size:16px !important; font-weight:bold !important; color:#000 !important; }
.SD_ArticleBox h5   { font-size:14px !important; font-weight:bold !important; color:#000 !important; }
.SD_ArticleBox p	  { font-size:13px !important; color:#000 !important; line-height:150% !important; }
.SD_ArticleBox span { font-size:13px !important; color:#000 !important; line-height:150% !important;}
.SD_ArticleBox li   { font-size:13px !important; margin-bottom:0.5em !important; color:#000 !important; }
.SD_Window.CL .KBdefaulttext a,  .SD_ArticleBox a    { font-size:13px !important; color:#71a353 !important; text-decoration:none !important; }
.SD_Window.CL .KBdefaulttext a:hover,  .SD_ArticleBox a:hover    { text-decoration:underline !important; }
div.embedArticleContent, div.SD_ArticleBox   { font-size:13px !important; color:#000 !important; line-height:150% !important;}
.SD_ArticleBox td   { padding:0 !important; font-size:13px !important; color:#000 !important; line-height:150% !important;}
.SD_ArticleBox table{ margin-bottom:2em !important; }
span.embedArticleTitle { font-size:24px !important; font-weight:bold !important; color:#000 !important; }
.SD_ArticleBox h1, .SD_ArticleBox h2, .SD_ArticleBox h3, .SD_ArticleBox h4, .SD_ArticleBox h5 { line-height:160% !important; }
.border table tr td img { margin-bottom:0.5em !important; }
.border table tr td a   { margin-bottom:0.5em !important; }
.KBnavItem { font-size:13px !important; margin-bottom:0.5em !important; color:#000 !important; }

.ik_topInner { width:100%/*960px*/; height:200px/*223px*/; margin:auto; background:black/*#fff*/ url(bg_kviksvar2.png) /*no-repeat; */}
.ik_kviksvar_logo { float:left; margin:20px 0 0 45px; }
 

.SD_TabOuter, .SD_Window, .HA { width:100%/*960px*/ !important; margin:auto !important; padding-left:0 !important; padding-right:0 !important;  }
.SD_Window { width:100%/*958px*/ !important; border:1px solid #000 !important; border-top:0 !important; padding-bottom:3em !important; }
.HA, .SD_Window table { width:98%/*920px*/ !important; margin-left:auto !important; margin-right:auto !important;  }
.SD_Window table { margin-top:1em !important; }
.SD_RR { width:920px !important; margin:auto !important; margin-top:2em !important;  }
/*.SD_RR.CR { margin:auto !important; }*/

.HB_Margin, .SD_Margin { float:left !important; width:98% !important; margin:0 !important; padding:0 !important; /*width:none !important; */}
.FL { width:none !important; }
.SD_Margin { /*margin:0 0 0 -0.3% !important; */}

/*.SD_Window form { width:948px !important; }*/

#navControl_divTabOuter, .SD_TabOuter { width:100% !important; height:100% !important; min-height:4em; !important; /*margin:0 !important;*/ padding:0 !important;
background: rgb(14,26,28);background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMWExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE0MjQyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzE0MjQyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTFhMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  rgb(14,26,28) 0%, rgb(20,36,40) 40%, rgb(20,36,40) 60%, rgb(14,26,28) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(14,26,28)), color-stop(40%,rgb(20,36,40)), color-stop(60%,rgb(20,36,40)), color-stop(100%,rgb(14,26,28)));background: -webkit-linear-gradient(left,  rgb(14,26,28) 0%,rgb(20,36,40) 40%,rgb(20,36,40) 60%,rgb(14,26,28) 100%);background: -o-linear-gradient(left,  rgb(14,26,28) 0%,rgb(20,36,40) 40%,rgb(20,36,40) 60%,rgb(14,26,28) 100%);background: -ms-linear-gradient(left,  rgb(14,26,28) 0%,rgb(20,36,40) 40%,rgb(20,36,40) 60%,rgb(14,26,28) 100%);background: linear-gradient(left,  rgb(14,26,28) 0%,rgb(20,36,40) 40%,rgb(20,36,40) 60%,rgb(14,26,28) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1a1c', endColorstr='#0e1a1c',GradientType=1 );
 }
/*.SD_TabCont, */.SD_TabActive, .SD_TabInactive { float:left !important; display:block; height:1.125em !important; margin:0.5em 1.5em 0 1px !important; padding:0.6125em 1em !important; border:none !important; font-size:16px !important; 
-moz-border-radius:3px 3px 0px 0px; -webkit-border-radius:3px 3px 0px 0px; -khtml-border-radius:3px 3px 0px 0px; border-radius:3px 3px 0px 0px;
} 
.SD_TabActive:hover { background:#fff !important; }
.SD_TabInactive { background:none !important; color:#fff !important; }
.SD_TabInactive:hover { background:#71a353 !important; color:#fff !important; }

.SD_Title { font-size:20px !important; color:#000 !important; margin-top:1em !important; }
.HB_Title { font-size:16px !important; color:#666 !important; border:none !important; margin:0.5em 0 0.75em 0 !important; padding:0 !important; }

.HB_ItemL { margin-bottom:0.25em !important; }
.HB_ItemL a { font-size:13px !important; color:#000 !important; }

.SD_RR { width:98%/*920px*/ !important; -moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; background:none !important; }
.HB_Margin { margin:0 !important; }

.FR { display:none; }
.NDE.FR { display:block !important; }

.HB_End { display:none; }



/* formular */
/*.SD_SearchString	  { float:left; width:300px; max-width:300px; height:34px; margin:1.0em 0 0 0; padding-top:0.5em !important; padding-left:2.5% !important; border:0; font-size:18px !important; border:0 !important; background:#f3f3f3 !important; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; }
.btn, .btn_mo { float:left; min-width:50px !important; height:43px !important; display:block !important; margin:0 0 0 0 !important; padding:0 1em !important; border:0; color:#fff !important; font-size:22px !important; font-weight:400; cursor:pointer;
background: rgb(130,164,180);background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyYTRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Mzg1OWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  rgb(130,164,180) 0%, rgb(99,133,156) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(130,164,180)), color-stop(100%,rgb(99,133,156)));background: -webkit-linear-gradient(top,  rgb(130,164,180) 0%,rgb(99,133,156) 100%);background: -o-linear-gradient(top,  rgb(130,164,180) 0%,rgb(99,133,156) 100%);background: -ms-linear-gradient(top,  rgb(130,164,180) 0%,rgb(99,133,156) 100%);background: linear-gradient(top,  rgb(130,164,180) 0%,rgb(99,133,156) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82a4b4', endColorstr='#63859c',GradientType=0 ); -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; }
.btn_mo {background: rgb(99,133,156); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzODU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MTY3N2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  rgb(99,133,156) 0%, rgb(81,103,127) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(99,133,156)), color-stop(100%,rgb(81,103,127))); background: -webkit-linear-gradient(top,  rgb(99,133,156) 0%,rgb(81,103,127) 100%); background: -o-linear-gradient(top,  rgb(99,133,156) 0%,rgb(81,103,127) 100%); background: -ms-linear-gradient(top,  rgb(99,133,156) 0%,rgb(81,103,127) 100%); background: linear-gradient(top,  rgb(99,133,156) 0%,rgb(81,103,127) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63859c', endColorstr='#51677f',GradientType=0 ); }


.btnL, .btnR, .btnL_mo, .btnR_mo { display:none; }
.btnX { width:100% !important; }*/

.HB_Row, 
.HB_RowOdd, 
.HB_Row_mo, 
.HB_RowOdd_mo { 
  background:none !important;
  background-image:url(http://mikls.net/diverse/test/images/bullet_green3.png) !important; 
  background-position:3px 1.0em !important; 
  background-repeat:no-repeat !important;
  border-bottom-color:#EEEEEE !important;
  border-bottom-style:solid !important;
  border-bottom-width:1px !important;
  float:left !important;
  min-height:3.0em !important;
  line-height:3.0em !important;
  margin:0 3.5% 0 0 !important;
  padding:0 0 0 22px !important;
  cursor:pointer !important;
  width:94%/*47%*/ !important;
 }
.HB_Row_mo, .HB_RowOdd_mo  { background-color:#eceff1 !important; }

/*.HB_Margin .HB_Row, 
.HB_Margin .HB_RowOdd, 
.HB_Margin .HB_Row_mo, 
.HB_Margin .HB_RowOdd_mo { width:94% !important; }*/
/*
.HA .HB_Row, 
.HA .HB_RowOdd, 
.HA .HB_Row_mo, 
.HA .HB_RowOdd_mo { width:47% !important; }*/
