
/* 1600px og ned (r1600) *******************************************/ 
@media screen and (max-width: 1600px) { 

	/* ALLE SIDER */
	.mainMenu li .menuSub { width:98%; }
	.mainMenu li:hover .menuSub, .mainMenu li#menuBorger:hover .menuSub, 
	.mainMenu li:hover .menuSub, .mainMenu li#menuErhverv:hover .menuSub,
	.mainMenu li:hover .menuSub, .mainMenu li#menuPolitik:hover .menuSub { left:1%; margin-left:-1px;  }
	[data-role="footer"] .content	{ width:94%; margin:0 1.5%; }

	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1600 { display:block; }
}



/* 1501px og op *******************************************/ 
@media screen and (min-width: 1501px) { #px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1600 { display:block; } }


/* 1500px og under */
@media screen and (max-width: 1500px) { 

	/* ALLE SIDER */
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, /*#edit-apachesolr-panels-search-form--2,*/ #edit-apachesolr-panels-search-form--3	  	 { margin:0.75em 0 0 0; }
	#searchButton, #edit-submit, #edit-submit--2 	 { margin:0.5625em 0 0 3%; }	
	.mainMenu > li   { width:18.5%; }	
	.mainMenu > li > a { font-size:1.5em; }
	.mainMenu li .menuSub { width:98%; }
	.footerLogo { right:80px; }
	/*.mainMenu li:hover .menuSub, .mainMenu li#menuBorger:hover .menuSub { left:1%; margin-left:-1px;  }*/

	/* FORSIDE */
/*	#teaserBox { margin:1.375em 1.7857142% 23.442136% 0; }
	#teaserBox #teaserBoxTop h1	 { font-size:1.375em; padding:0.5em 3.5% 0 3.5%; }
	#teaserBox #teaserBoxBottom li { margin:0 0 0.75em 0; }
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { margin:1.25em 0 0 0; }*/
	/*#teaserNav li a { padding:0.5625em 0 0 0; } */

	/* UNDERSIDE */
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1500 { display:block; }
}

/* 1400px og under (r1400) */
@media screen and (max-width: 1400px) { 

	/* ALLE SIDER */
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, /*#edit-apachesolr-panels-search-form--2,*/ #edit-apachesolr-panels-search-form--3	  	 { height:2.25em; margin:0.75em 0 0 0; font-size:0.9325em; }
	#searchButton, #edit-submit, #edit-submit--2 	 { height:1.75em; margin:0.5625em 0 0 3%; }	
	#apachesolr-panels-search-form #edit-submit { height:2.25em !important; /*margin:0.75em 0 0 6%; */}
	.mainMenu > li   { width:17.2%; }	
	.mainMenu > li > a { font-size:1.25em; }
	/*.altMenu li a { font-size:0.8125em; }*/

	/* FORSIDE */
/*	#teaserBox { margin:1.25em 1.7857142% 23.442136% 0; }
	#teaserBox #teaserBoxTop h1	 { font-size:1.25em; padding:0.5em 3.5% 0 3.5%; }
	#teaserBox #teaserBoxBottom li { margin:0 0 0.5625em 0; }
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { margin:1.00em 0 0 0; height:2.5125em; line-height:2.5125em; font-size:0.9375em; }*/

	/* UNDERSIDE */
	.asideSelvbetjeningLink   { margin:0 10% 0 0; }
	.contentNavigationList li a { width:87%; padding:1em 5% 1em 8%; }
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1400 { display:block; }
}

/* 1281px og op *******************************************/ 
@media screen and (min-width: 1281px) { 

	/* ALLE SIDER */

	/* FORSIDE */
	.teaserText 	 { height:70%; margin:1.125em 0 0 1.7857142%; }

	/* UNDERSIDE */

	/*#px1600, #px1280, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1600 { display:block; }*/
}


/* 1280px og under (r1280) *******************************************/ 
@media screen and (max-width: 1280px) { 

	/* ALLE SIDER */
	.sitePickerContentCol1, .sitePickerContentCol2, .sitePickerContentCol3	{ min-height:16.5em; }
	.sitePickerContentCol1 span, .sitePickerContentCol2 span, .sitePickerContentCol3 span { font-size:1.25em; }
	.sitePickerContentCol2 ul li   { /*font-size:0.875em;*/ width:40%; }
	.dropdownOuter { width:80%; }
	#navigation form { width:36.6%; }	
	.mainMenu   { margin-top:0.125em; }
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, /*#edit-apachesolr-panels-search-form--2,*/ #edit-apachesolr-panels-search-form--3	  	 { height:2.25em; margin:0.8125em 0 0 0; padding-left:3.5%; font-size:0.875em; }
	#searchButton, #edit-submit:not(#apachesolr-panels-search-form #edit-submit), #edit-submit--2 	 { height:1.875em; margin:0.625em 0 0 3%; font-size:1.125em; }	
	.mainMenu > li   { width:16.9%; }
	.mainMenu > li > a { font-size:1.125em; }
	.mainMenu li .menuSub { font-size:0.8125em; }
	.box { margin-bottom:1.75em; }
	.breakingInner 	{ margin:1.0em 1.0em 1.5em 1.0em; }
	[data-role="footer"] .content	{ width:94%; margin:0 3%; }
	.footerLogo { right:40px; }

	/* FORSIDE */
	.frontLeft  { width:31.6326530612%; }
	.frontRight { width:65.8163265306%; }
	.frontRightCol2 > * { width:48.0620155038%; }
	.teaserText 	 { height:68%; margin:1.125em 0 0 1.7857142%; }
	.teaserText h1	 { font-size:2.25em; }
	.teaserText h2	 { font-size:1.375em; margin-top:0.1875em; }
	.teaserText a.linkGaaTil { line-height:2.9375em; width:15em; height:2.9375em; }
	#teaserBox { width:420px; /*height:230px;*/ }
/*	#teaserBox { width:35%; margin:1.125em 1.7857142% 23.442136% 0; }
	#teaserBox #teaserBoxTop h1	 { font-size:1.125em; padding:0.375em 3.5% 0 3.5%; }
	#teaserBox #teaserBoxBottom ul#teaserBoxCol1 li.teaserListItem5, #teaserBox #teaserBoxBottom ul#teaserBoxCol2 li.teaserListItem3 { display:none; }
	#teaserBox #teaserBoxBottom li { margin:0 0 0.9375em 0; font-size:0.75em; line-height:150%;}
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { margin:1.625em 0 0 0; height:2.5125em; line-height:2.5125em; font-size:0.9375em; }
	#teaserNav li a { font-size:1.0em; padding:0.5em 0 0 0; }*/
	.slides li p:not(.menuSpotP)	{ font-size:0.8125em }
	
	/* UNDERSIDE */
	.articleHeader, .contentNavigationOrigin, .articleHeaderOuter  { width:65.8163265306%; }
	aside/*.asideOuter*/ 	{ width:31.6326530612%; }
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1280 { display:block; }
}

/* 1200px og under (r1200) */
@media screen and (max-width: 1200px) {

	/* ALLE SIDER */
	.sitePickerContentCol1, .sitePickerContentCol2, .sitePickerContentCol3	{ min-height:26.0em; }
	.sitePickerContentCol2 ul li   { width:90%; /*background:red;*/ }
	#navigation form { width:36.8%; }	
	.mainMenu .menuSubRight h2 { margin-top:-1.0em; }	
	.footerLogo { right:20px; }
	
	/* FORSIDE */
/*	#teaserBox #teaserBoxBottom li { margin:0 0 0.875em 0; font-size:0.75em; }
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { margin:1.25em 0 0 0; text-indent:1.25em; }*/	
	
	/* UNDERSIDE */
	.asideSelvbetjeningLink   { margin:0 5% 0 0; }
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1200 { display:block; }
}

/* 1100px og under  (r1100) */
@media screen and (max-width: 1100px) {
	
	/* ALLE SIDER */
	.mainMenu > li   { width:18.4%; }
	.mainMenu li .menuSub { font-size:0.75em; }
	.mainMenu li .menuSubLeft ul li   { margin:0 3.0% 0 0 }

	/* FORSIDE */
/*	#teaserBox #teaserBoxBottom li { margin:0 0 0.625em 0; font-size:0.75em;}
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { margin:1.25em 0 0 0; text-indent:1.25em; height:2.25em; line-height:2.25em; font-size:0.875em; }*/
	/*#teaserNav li a { padding:0.375em 0 0 0; }*/

	/* UNDERSIDE */
	.contentNavigationList li a { width:85%; padding:1em 5% 1em 10%; }
	
	.nodeLokalplaner ul li img { width:30%; }
	.nodeLokalplaner ul li .text { width:64%; }
  
  /* KV2013 */
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer { margin-right: 15px;}

  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeMandater, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { /*width:20%;*/ font-size:1.125em !important; }
  
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent,
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeMandater { font-size:0.75em !important; }
  .valgstedListe .valgstedListeDataContainer .valgstedListeData { font-size:1.125em; }

  
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1100 { display:block; }
}

/* 1024px og under (r1024) *******************************************/ 
@media screen and (max-width: 1024px) { 

	/* ALLE SIDER */
	.sitePickerContentCol1 span, .sitePickerContentCol2 span, .sitePickerContentCol3 span { font-size:1.15em; }
	.sitePickerContentCol2 ul li   { /*font-size:0.75em;*/ /*width:40%;*/ }
	.dropdownOuter { width:90%; }
	.dropdownInner { height:2.125em; }
	.dropdownInner select { font-size:0.8125em; }
	#navigation form { width:37.8%; }
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, /*#edit-apachesolr-panels-search-form--2,*/ #edit-apachesolr-panels-search-form--3	  	 { width:74.0%; margin-top:0.9375em; }
	#searchButton, #edit-submit, #edit-submit--2 	 { margin-top:0.625em; }	
	.mainMenu > li   { width:19%; }
	.mainMenu > li > a { letter-spacing:0.0625em; padding-top:0.4375em; }	
	.box { margin-bottom:2.0em; }
	h1 { font-size:2.0em; }
	.footerLogo { right:0; }
	.foldudContentBody ol { width:96%; }
	/*.altMenu li a { font-size:0.75em; } */
	/*.altMenu li   { margin-left:1.0em; }*/
/*	.brodtekst 		{ font-size:0.8125em }
	.margin			{ margin-bottom:1.75em; }*/	
/*  .breaking h1, .breaking h2	{ font-size:1.25em; }*/

	/* FORSIDE */
	.frontLeft  { width:31.2074829931%; }
	.frontRight { width:65.6037414966%; }
	.frontRightCol2 > * { width:47.5696694747%; }
	.frontRightCol1 > * > * { width:94.4%; margin:1em 2.8% 0; }
	.frontLeftCol1 > * > *, .frontRightCol2 > * > *, .subRightCol1 > * > * { width:88%; margin:1em 6% 0; }
	
/*	.teaserText 	 { margin:1.0em 0 0 1.7857142%; }
	.teaserText h1	 { font-size:1.875em; }
	.teaserText h2	 { font-size:1.125em; margin-top:0.1875em; }
	.teaserText a.linkGaaTil { line-height:2.6875em; width:13.75em; height:2.6875em; text-indent:1.7em; }*/
	.teaserWrapTarget	{ height:204px; }
	#teaserBox { width:96%; margin:1.0em 2%; height:170px; }
	#teaserBox #teaserBoxTop 	 { height:30%; }
	.teaserDropdownContainer { width:45%; margin:0 2.5% 0 2.5%; }
	.teaserDropdownOuter { margin:1.5em 0 0 0; }
	#teaserBox #teaserBoxTop h1	 { padding:0.4375em 2.5% 0 2.5%; }
		/*.teaserDropdownInner select { width:40%; }*/
/*	#teaserBox #teaserBoxTop h1	 { font-size:1.0em; padding:0.375em 3.5% 0 3.5%; }
	#teaserBox #teaserBoxBottom ul#teaserBoxCol1 li.teaserListItem4, #teaserBox #teaserBoxBottom ul#teaserBoxCol2 li.teaserListItem2 { display:none; }
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { margin:1.875em 0 0 0; font-size:0.8125em; }
	#teaserBox #teaserBoxBottom li { margin:0 0 0.875em 0; }*/
	/*#teaserNav li a { font-size:0.875em; padding:0.3125em 0 0 0; }*/
	.slides li p:not(.menuSpotP)	{ font-size:1.125em }
	
	/*.omdoemmeInner  { margin:1.792828685% !important; width:96.41434263% !important; }*/
	.omdoemmeThumb	{ width:23.8%; margin:0.597609561%; }
	.omdoemmeThumb img	{ border:4px solid #848b94; }
	/*.omdoemmeThumb img:hover { border:4px solid #8ab868; }*/
	.omdoemmeThumb img.harVideo	{ border:4px solid #6dbde5; }
	.omdoemmeThumb img.harVideo:hover { border:4px solid #8ab868; }
				
	/* UNDERSIDE */
	.articleHeader, .contentNavigationOrigin, .articleHeaderOuter  { width:65.6037414965%; }
	aside/*.asideOuter*/ 	{ width:31.2074829931%; }
	.foldudTab  { font-size:1.25em; }
  
  /* KV 2013 */
  .kv_valgstedBoks { margin:-2em 0 2em 0; }
  .page-node-3013 .kv_valgstedBoks { margin:-2em 0 0 0; }
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px1024 { display:block; }
}

/* 960px og op (r961) ********************************************/ 
@media screen and (min-width: 960px) {
	[data-role="footer"] > div { background:url(../images/bg_footerRings.png) no-repeat; background-size:100% auto; }
}

/* 960px og under  (r960) *******************************************/ 
@media screen and (max-width: 960px) { 

	/* ALLE SIDER */
	/*.sitePickerContentCol2 ul li   { width:83%; }*/
	.mainMenu   { width:60.0%; }
	#navigation form { width:38.6%; }
	.mainMenu > li   { width:21.0%; margin-right:3.2%; }
	.mainMenu > li > a { font-size:1.0625em; }
	.mainMenu li .menuSubLeft ul li   { width:25.5%; }
	.altMenu li a { font-size:0.875em; }
	.box { margin-bottom:2em; }
	/*.margin			{ margin-bottom:1.625em; }*/
	
	
	/* FORSIDE */
/*	.teaserText 	 { height:64%; }
	.teaserText h1	 { font-size:1.75em; }
	.teaserText h2	 { font-size:1.00em; margin-top:0.1875em; }
	.teaserText a.linkGaaTil { font-size:0.875em; line-height:2.375em; width:11.875em; height:2.375em; text-indent:1em; }*/
/*	#teaserBox { width:37%; margin:0.875em 1.7857142% 23.442136% 0; }*/
	.slides li p:not(.menuSpotP)	{ font-size:1.0em }
	
	/* UNDERSIDE */
	.articleHeader, .contentNavigationOrigin, .articleHeaderOuter	{ /*margin:0; */width:65.5328798184%; }
	aside/*.asideOuter*/ { width:31.0657596371% }
	.contentNavigationList li a { width:83%; padding:1em 5% 1em 12%; }
  
  /* KV2013 */
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
/*  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent,*/ 
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeMandater, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  /*.valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent,*/
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { width:17%; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater span { margin-right:5px; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { width: 17%; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer span { margin-right: 15px;}
  .kv2013-resultat-data-parti-bar p { margin:-2.125em auto 0 auto; font-size:0.8125em; }
  
	.nytByraadListeNode .nytByraadListe { width:100%; }
  .nytByraadListeNode .nytByraadListe:nth-child(odd) { margin-right: 0;}

  #px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px960 { display:block; }
}

/* 900px og under  (r900) */
@media screen and (max-width: 900px) { 

	/* ALLE SIDER */
	.mainMenu li .menuSub { font-size:0.6875em; }
	.mainMenu li .menuSubLeft ul li   { width:25.7%; margin:0 2.2% 0 0; }

	/* FORSIDE */
	.teaserDropdownInner.hvisdu, .teaserDropdownInner.emne { background-position:0 -2.5em; }
  
  /* KV 2013 */
	.kv_valgsted h1 { font-size:4em; } 
  .kv_valgsted h2 { font-size:1.5em; } 
  .kv_valgsted h3 { font-size:1.125em; } 
  .kv_valgstedBoks { margin:-1em 0 2em 0; }
  .kv_valgstedDataBoks1 div { margin:0.3125em 0 0 1.5em;}
  
  
/*	#teaserBox #teaserBoxBottom ul { width:46%; margin:0.75em 0 1.0em 3.5%; }
	#teaserBox #teaserBoxBottom li { margin:0 0 0.5em 0; font-size:0.75em; }
	#teaserBox #teaserBoxBottom ul#teaserBoxCol1 li.teaserListItem3 { display:none; }
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { width:96%; text-indent:0.875em;}*/

	/* UNDERSIDE */
}

/* 800px og under  (r800) *******************************************/ 
@media screen and (max-width: 800px) { 

	/* ALLE SIDER */
	#logo		{ margin-left:1.0em; }
	.searchPickerBtn { display:block; }
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, /*#edit-apachesolr-panels-search-form--2,*/ #edit-apachesolr-panels-search-form--3   { height:2.5em; max-width:none; width:75%; font-size:1.0em; margin:1.75em 0 0 0.8125em; } 
	#searchButton, #edit-submit, #edit-submit--2 { height:2.1875em; max-width:none; /*width:15%;*/ margin:1.375em 0.75em 0 0; }
	#edit-actions, #edit-actions--2 { width:15%; }
	/*.mobilSearchTarget { margin-top:-7px; }*/
	/*.sitePickerSection { position:fixed; }*/
	.sitePickerContentCol1, .sitePickerContentCol2, .sitePickerContentCol3 { width:96%; min-height:0; margin:0 2%; background:none; }
	.sitePickerContentCol3 { display:none; }
	.sitePickerContentCol2 ul li { width:44%; }
	.dropdownContainer { width:44%; margin:0 4% 0 0; }
	.dropdownOuter { width:100%; }
	[data-role="header"]	{ margin-bottom:1.5em; }
	.sitePickerSection { margin-top:3.25em; }
	/*div[data-role="content"] { padding-top:1.75em !important; }*/
	[data-role="content"] { padding-top:1.5em; }
	.box { margin-bottom:1.75em; }
	/*#top { position:fixed; z-index:99999; }*/

	[data-role="footer"] { margin:0 1%; width:98%; moz-border-top-left-radius: 3px 3px; -webkit-border-top-left-radius: 3px 3px; -khtml-border-top-left-radius: 3px 3px; border-top-left-radius: 3px 3px; moz-border-top-right-radius: 3px 3px; -webkit-border-top-right-radius: 3px 3px; -khtml-border-top-right-radius: 3px 3px; border-top-right-radius: 3px 3px; -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.4); -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.4); box-shadow:0px 2px 4px rgba(0, 0, 0, 0.4); }
	.footerRight > div > div > ul, .footerRight > div > div > div, .footerRight > div > div > div { width:50%; }
	.sitePickerBtn 	 { margin:0.5em 0.375em 0 1.25em; }
	.box { margin-bottom:1.75em; }

	/* FORSIDE */
	.frontLeft, .frontRight { width:100%/*47.9591836734%*/; } 
	.frontRightCol2 > * { width:100%; }
	.frontLeftCol1 > * > *, .frontRightCol1 > * > *, .frontRightCol2 > * > * { width:90%; margin:1em 5% 0; }	
	
/*	#teaserBox {margin:0.75em 1.7857142% 23.442136% 0; }*/
/*	.teaserText 	 { margin:0.875em 0 0 1.7857142%; }
	.teaserText h2	 { margin-top:0.125em; }*/
/*	#teaserBox #teaserBoxTop h1	 { font-size:0.875em; padding:0.25em 3.5% 0 3.5%; }
	#teaserBox #teaserBoxBottom ul { margin:0.5em 0 1.0em 3.5%; }
	#teaserBox #teaserBoxBottom ul a#linkSelvbetjening { text-indent:0.75em; font-size:0.75em; }*/
	/*#teaserNav li a { font-size:0.75em; padding:0.25em 0 0 0; }*/
	.slides li p:not(.menuSpotP)	{ font-size:0.875em }
	.frontFiller { display:none; }

/*.omdoemmeInner  { margin:1.792828685% !important; width:96.41434263% !important; }*/
.omdoemmeThumb	{ width:15.45%; margin:0.597609561%; }
.omdoemmeThumb img	{ border:6px solid #848b94; }
/*.omdoemmeThumb img:hover { border:6px solid #8ab868; }*/
.omdoemmeThumb img.harVideo	{ border:6px solid #6dbde5; }
.omdoemmeThumb img.harVideo:hover { border:6px solid #8ab868; }

	/* UNDERSIDE */
	.subRightCol1 > * > *, .selvbetjeningTarget > .asideSelvbetjening > * > * { width:94%; margin:1em 3% 0; }
	.subRightCol1 > * > *:last-child { margin:1em 3%; }
/*	.selvbetjeningTarget > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child, 
	.frontLeftCol1 > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child, 
	.frontRightCol2 > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child, 
	.subRightCol1 > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child { margin:0 3%; }*/

	.contentContainter { margin:0; }
	.contentNavigationOrigin, /*.asideSelvbetjening,*/ .articleHeader, .selvbetjeningTarget, aside/*.asideOuter*/, .articleHeaderOuter { width:100%; }
	.contentNavigation { margin-bottom:0.875em; }
	/*.contentNavigation p { display:none; }*/
	/*.asideSelvbetjening .asideInner, .asideSelvbetjening .asideInner2 { width:94%; margin-right:3%; margin-left:3%; }*/
	/*.asideInner, .asideInner2 { width:94%; margin-right:3%; margin-left:3%; }*/
	
	.asideSelvbetjeningTop    { height:auto; min-height:12em; background-size:50% auto; background-position:right bottom; }
	/*.asideSelvbetjeningBottom { }	*/
/*	.contentNavigation li:nth-child(odd) { width:49.25%; margin:0 1.5% 0.5em 0; }
	.contentNavigation li:nth-child(even) { width:49.25%; margin:0 0 0.5em 0; }*/	
	.contentNavigationList li a { width:88%; padding:1em 5% 1em 7%; }
	.contentNavigationTarget { width:100%; }
  
  /* KV2013 */
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeParti { width:90%; }
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeMandater, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { width:30%; margin:0; padding:0; }
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer { width:30%; margin:0; padding:0; }
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer span,
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent span, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeMandater span, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer span,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent span,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater span { margin:0; padding:0; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater span { margin-right:0; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent span  { margin-right:15px; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { width: 30%; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer span { margin-right: 0;}
  
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px800 { display:block; }
}

/* 768px og under  (r768) *******************************************/ 
@media screen and (max-width: 768px) { 

	/* ALLE SIDER */
	/*#searchButton, #edit-submit, #edit-submit--2 { margin:1.5em 0.75em 0 0; }*/
/*	.sitePickerContentCol1, .sitePickerContentCol2, .sitePickerContentCol3	{ min-height:21.0em; }*/
	/*.altMenu li.picked { display:none; }*/
	
	.box { margin-bottom:1.5em; }

	/* FORSIDE */
	.teaserWrap	{ display:none; }
	
	/* UNDERSIDE */
	.contentNavigation { margin-bottom:0.625em; }
	.contentNavigationList li a { width:87%; padding:1em 5% 1em 8%; }
	/*.margin	{ margin-bottom:1.5em; }*/
	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px768 { display:block; }
}

/* 640px og under  (r640) *******************************************/ 
@media screen and (max-width: 640px) {
	
	/* ALLE SIDER */
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, /*#edit-apachesolr-panels-search-form--2,*/ #edit-apachesolr-panels-search-form--3   { width:73%; margin:1.75em 0 0 0.75em; } 
	#searchButton, #edit-submit:not(#apachesolr-panels-search-form #edit-submit), #edit-submit--2 { /*width:15%;*/ margin:1.5em 0.6825em 0 0; }
	#apachesolr-panels-search-form #edit-actions { float:right; width:22%; }
	
	[data-role="footer"] .content	{ width:92%; margin:0 4%; }
	.footerLeft, .footerRight { width:50%; }
	.footerRight > div { height:1200px; }
	.footerRight > div > div > ul, .footerRight > div > div > div { width:100%; }
	.footerLogo { right:80px; }
	
	
	
	.dropdownInner { height:2.375em; }
/*	.sitePickerContentCol1, .sitePickerContentCol2, .sitePickerContentCol3 { width:100%; min-height:0; margin:0; background:none; }
	.sitePickerContentCol3 { display:none; }*/

	.sitePickerContentCol1 { margin-bottom:-2em; } .sitePickerContentCol2 { margin-bottom:-0.5em; } 
	.sitePickerContentCol1 span, .sitePickerContentCol2 span, .sitePickerContentCol3 span { font-size:1.25em; }
	.sitePickerContentCol2 ul { margin-bottom:1em; }
	[data-role="content"] { padding-top:1.25em !important; }
	.box { margin-bottom:1.25em; }
	
	/* FORSIDE */
	.teaserDropdownInner.hvisdu, .teaserDropdownInner.emne { background-position:0 -5em; }
	
	/* UNDERSIDE */
	.breadcrumb { font-size:0.875em; }
	.foldudTabs { margin:0.5em 0 0 0; }
/*	.asideSelvbetjening .asideInner, .asideSelvbetjening .asideInner2 { width:94%; margin-right:3%; margin-left:3%; }
*/
/*	.asideSelvbetjening .asideInner, .asideSelvbetjening .asideInner2 { width:94%; margin-right:3%; margin-left:3%; }*/
	.article li, .aside li { margin-bottom:0.5em; padding-left:2.25em; }
	.contentNavigation { margin-bottom:0; }
	.contentNavigationInner { background:#fff; }
	.contentNavigation ul { float:left; margin:0; }
	.contentNavigation li:nth-child(even), .contentNavigation li:nth-child(odd) { width:100% !important; margin:0; }
	.contentNavigation li	   	{ float:left; width:100%; margin:0; padding:0; border-bottom:1px solid #eee; display:block; }
	.contentNavigation li:last-child  { border:none; }	
	.contentNavigation a h2  { font-weight:300; font-size:1.0em; margin:0; padding:0; }
	.contentNavigation img, .contentNavigation a p { display:none; }
	.contentNavigationBtnContainer { display:none; }
	.contentNavigation li a, .contentNavigationList li a { width:86%; padding:1em 5% 1em 9%; background-position:1.25em 1.2em; }


  
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px640 { display:block; }
}


/* 600px og under *******************************************/ 
/*@media screen and (max-width: 600px) { */

	/* ALLE SIDER */
/*	.altMenu li a { font-size:0.6875em; } 
	.altMenu li   { margin-left:0.875em; }*/

	/* FORSIDE */
/*	.nyhedsliste article img { display:none; }
	.nyhedsliste article p, .nyhedsliste article p.dato	{ float:left; width:92%; margin:4%; }
	.nyhedsliste article p.dato 	{ margin-top:0;  }
*/
	/* UNDERSIDE */
	
/*	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px600 { display:block; }*/
/*}*/

/* 540px og under  (r540) *******************************************/ 
@media screen and (max-width: 540px) { 

	/* ALLE SIDER */	
	#logo span	{ font-weight:600; }
	#searchButton, #edit-submit, #edit-submit--2 { /*width:15%;*/ margin:1.375em 0.625em 0 0; }
	.dropdownContainer { width:100%; margin:0; }
	/*.breaking h1, .breaking h2	{ font-size:1.125em; }*/
	/*.margin	{ margin-bottom:1.25em; }*/
	[data-role="header"]	{ margin-bottom:0.5em; }
	[data-role="content"] { padding-top:0.35em !important; }
	.box { margin-bottom:0.5em; }
	h1 { font-size:1.75em; }
	
	/* FORSIDE */
	/*.frontLeft, .frontRight { width:100%; }*/ 
	.frontLeftCol1 > * > *, .frontRightCol1 > * > *, .frontRightCol2 > * > *, .frontLeftCol1 > .asideSelvbetjening > * > *, .frontRightCol2 > .asideSelvbetjening > * > * { width:92%; margin:1em 4% 0/* 4%*/; /*background:red;*/ }
	.frontLeftCol1 > * > *:last-child, .frontRightCol1 > * > *:last-child, .frontRightCol2 > * > *:last-child { margin:1em 4%; }
	
	.slides li p:not(.menuSpotP)	{ font-size:0.75em }
	
	/* UNDERSIDE */
	.subRightCol1 > * > *, .selvbetjeningTarget > .asideSelvbetjening > * > * { width:92%; margin:1em 4% 0; }
	.subRightCol1 > * > *:last-child { margin:1em 4%; }
	
/*	.selvbetjeningTarget > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child, 
	.frontLeftCol1 > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child, 
	.frontRightCol2 > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child, 
	.subRightCol1 > .asideSelvbetjening > .asideSelvbetjeningBottom > *:last-child { margin:0 4%; }*/
	
	.article, .contentNavigation, aside/*.asideOuter*/ { width:100%; }
	.breadcrumb { width:92%; padding:1em 4%; }
	.articleHeaderInner, .articleInner { width:92%; margin:1em 4% 0 4%; }
/*	.asideInner, .asideInner2 { width:92%; margin-right:4%; margin-left:4%; }*/
	
	.contentNavigation p { display:none; }
/*	.asideSelvbetjening .asideInner, .asideSelvbetjening .asideInner2 { width:90%; margin-right:5%; margin-left:5%; }*/
	.asideSelvbetjeningTop    { min-height:12.5em; }
	.contentNavigation li a, .contentNavigationList li a { width:84%; padding:1em 5% 1em 11%; background-position:1.4em 1.2em; }
	.contentNavigationTarget { width:100%; }
	.foldudTabs { margin:1.25em 0 0 0; }
	.nodeLokalplaner ul li { margin:0 }  	
	.nodeLokalplaner ul li img { display:none; }
	.nodeLokalplaner ul li .text { width:90%; padding:0 0.5em; }

	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px540 { display:block; }
}

/* 480px og under  (r480) *******************************************/ 
@media screen and (max-width: 480px) { 

	/* ALLE SIDER */
	#logo		{ margin-left:0.3125em; }
	#logo img { display:none; }
	#logo span	{ margin:0.125em 0 0 0.25em; font-weight:600; }
	.searchPickerBtn { margin:0.5em 0.75em 0 0; } 
	.sitePickerImg p, .sitePickerImgUp p { display:none; }
	.sitePickerBtn { width:3.1875em; margin:0.5em 0.375em 0 0; }
	
	.sitePickerContentCol1, .sitePickerContentCol2, .sitePickerContentCol3 { width:94%; margin:0 3%; }
	/*#logo		{ margin-left:0.3125em; }*/
	.dropdownOuter { width:100%; }
	.sitePickerContentCol2 ul li { width:42%; }
	[data-role="footer"] .content	{ width:90%; margin:0 5%; }
	.footerLeft, .footerRight { width:100%; }
	.footerLogo { right:20px; }
	.foldudContentBody ol { width:94%; }
	
	/* FORSIDE */
	.teaserWrapTarget { height:254px; }
	#teaserBox { width:96%; margin:1.0em 2%; height:224px; }
	.teaserDropdownContainer { width:92%; margin:0 4%; }
	.teaserDropdownOuter { margin:0 0 0 0; }
	#teaserBox #teaserBoxTop 	 { height:21%; }
	#teaserBox #teaserBoxTop h1	 { padding:0.4375em 4% 0 4%; }
	.teaserDropdownInner.hvisdu, .teaserDropdownInner.emne { background-position:0 0; }
	.slides li p:not(.menuSpotP)	{ font-size:0.6875em }
	.omdoemmeThumb	{ width:23.8%; margin:0.597609561%; }
	.omdoemmeThumb img	{ border:6px solid #848b94; }
	/*.omdoemmeThumb img:hover { border:6px solid #8ab868; }*/
	.omdoemmeThumb img.harVideo	{ border:6px solid #6dbde5; }
	.omdoemmeThumb img.harVideo:hover { border:6px solid #8ab868; }
	.kultunautArrangement { width:100% !important; margin-left:0 !important; }
	
	/* UNDERSIDE */
	.contentNavigation li a, .contentNavigationList li a { width:83%; padding:1em 5% 1em 12%; background-position:1.3em 1.2em; }
/*	.articleHeaderInner, .articleInner { width:90%; margin:1em 5% 0 5%; }
	.contentNavigation li a, .contentNavigationList li a { width:83%; padding:1em 5% 1em 12%; background-position:1.5em 1.2em; }
*/		
  /* KV 2013 */
  .kv_valgsted h1 { font-size:3.5em;  }
  .kv_valgsted h3 { font-size:1.0em; }
  .kv_valgstedDataBoks1 { margin:1% 2% 3% 3%; width:95%; }
  .kv_valgstedDataBoks1 div { margin:0.25em 0 0 0.75em;}
  .kv_valgstedDataBoks2, .kv_valgstedDataBoks3 { padding:2% 3%; width:94%; }
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeLogo { margin-left:0; }
/*
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeParti { width:88%; margin-left:3%; }
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeMandater, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { width:25%; }
*/
    .kv2013-resultat-data-parti-bar p {font-size:0.75em; }
 
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeMandater { width:20%; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent { width:40%; margin-right:15px; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent span { margin-right:15px; }
  .kv_valgsted00 .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer { width:20% }
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent { width:50%; margin:0; }
  
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer { float:left; }



  
  #px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px480 { display:block; }
}

/* 320px og under  (r320) *******************************************/ 
@media screen and (max-width: 320px) { 

	/* ALLE SIDER */
/*	#logo		{ margin-left:0.3125em; }
	#logo img { display:none; }
	#logo span	{ margin:0.125em 0 0 0.25em; font-weight:600; }
	.searchPickerBtn { margin:0.5em 0.75em 0 0; } 
	.sitePickerBtn { margin:0.5em 0.375em 0 0; }*/
	#searchText, #edit-search-block-form--2, #edit-apachesolr-panels-search-form, #edit-apachesolr-panels-search-form--2, #edit-apachesolr-panels-search-form--3   { width:70%; margin:1.75em 0 0 0.75em; } 
	#searchButton, #edit-submit, #edit-submit--2 { /*width:16%;*/ margin:1.5em 0.75em 0 0; }
	#edit-actions, #edit-actions--2 { width:16%; }
	[data-role="mobilenav"] li a    { line-height:2.75em; font-size:1.25em; }
	[data-role="mobilenav"] li li a { line-height:3.75em; font-size:1.0em; }
	.foldudContentBody ol { width:93%; }
/* 	.margin		{ margin-bottom:1.75em; }*/
	
	/* FORSIDE */
	.teaserDropdownInner.hvisdu, .teaserDropdownInner.emne { background-position:0 -2.5em; }
	.slides li p:not(.menuSpotP)	{ font-size:0.8125em }
	
	
	/* UNDERSIDE */
	.breadcrumb { width:90%; padding:1em 5%; }
	.articleHeaderInner, .articleInner { width:90%; margin:1em 5% 0 5%; }
/*	.asideInner, .asideInner2 { width:90%; margin-right:5%; margin-left:5%; }*/
	.contentNavigation li a, .contentNavigationList li a { width:79%; padding:1em 5% 1em 16%; background-position:1.0em 1.2em; }	
	.asideSelvbetjeningTop    { min-height:8.75em; }
/*	.asideSelvbetjeningBottom { }*/
	.foldudTab  { font-size:1.125em; padding:0.5em 3.6%; }
	.foldudTabs { margin:1em 0 0 0; }
  
  /* KV2013 */
/*
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeHeader .valgstedListeProcent, 
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeStemmer,
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeProcent { width:25%; }
*/
  .valgstedListe .valgstedListeDataContainer .valgstedListeData .valgstedListeLogo { width:8%; margin:0.25em 0 0 1%; }
  

	
	#px1600, #px1500, #px1400, #px1280, #px1200, #px1100, #px1024, #px960, #px800, #px768, #px640, #px600, #px540, #px480, #px320 { display:none; } #px320 { display:block; }
}
/* 

iPad: 						1024 × 768 pixels 
iPhone 4 + 4S: 	 	 		 960 × 640 pixels 
iPhone 3 + 3GS:	 	 		 480 x 320 pixels 
Samsung Galaxy Tab 10.1:	1280 x 800 pixels
Samsung Galaxy S2:	 	 	 800 x 480 pixels 
Samsung Galaxy Tab Wifi:	1024 x 600 pixels
HTC Hero S:			 		 960 x 540 pixels

1280
1024
960
800
768
640
600
540
480
320

*/


/** { -webkit-transition: width .5s; }*/