@charset "utf-8";
/* CSS Document */

body { margin:0; }
a img { border:none; }

#container 		{ position:relative; width:542px; height:231px; overflow:hidden; background-color:#ddd; }
#rotating-elements	{ float:left; z-index:5; padding:0; }
.element-rotated	{ position:relative; height:231px; width:100%; cursor:pointer; }
.sideswap_nav		{ position: absolute; cursor:pointer; background-color:transperant;}
.sideswap_next		{ position:absolute; top:12px; right:12px; z-index:1000;  width:36px; height:36px; background-image:url(/egnemoduler/images/sideswap_nav_off_right2.png); background-repeat:no-repeat; }
.sideswap_next:hover    { background-image:url(/egnemoduler/images/sideswap_nav_on_right2.png); background-repeat:no-repeat; }
.sideswap_previous	{ position:absolute; top:12px; left:12px;  z-index: 1000; width:36px; height:36px; background-image:url(/egnemoduler/images/sideswap_nav_off_left2.png);  background-repeat:no-repeat;}
.sideswap_previous:hover{ background-image:url(/egnemoduler/images/sideswap_nav_on_left2.png);  background-repeat:no-repeat;}
.sideswap_bg		{ position:absolute; width:542px; height:90px; bottom:0px; z-index: 998; background-image:url(/egnemoduler/images/bg_top_news_green_transperant_90pct.png); background-repeat:no-repeat;  }
.sideswap_bg h1		{ font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold;   color:#000; text-transform:uppercase; margin:8px 10px 2px 12px; padding:0; }
.sideswap_bg h2		{ font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; color:#000; text-transform:none;      margin:4px 10px 4px 12px; padding:0; line-height:120%; }
.sideswap_img_overlay   { position:absolute; width:542px; height:231px; top:0px; z-index: 999; }

#sideswap_topNewsFrame_left  { position:absolute; width:4px; height:231px; top:0px; left:0px;  z-index:1001; background-image:url(/egnemoduler/images/topNewsFrame_left.png);  background-repeat:no-repeat; }
#sideswap_topNewsFrame_right { position:absolute; width:4px; height:231px; top:0px; right:0px; z-index:1001; background-image:url(/egnemoduler/images/topNewsFrame_right.png); background-repeat:no-repeat; }
#sideswap_topNewsFrame_top   { position:absolute; width:542px; height:4px; top:0px; left:0px;  z-index:1001; background-image:url(/egnemoduler/images/topNewsFrame_top.png);   background-repeat:no-repeat; }
#sideswap_topNewsFrame_bottom   { position:absolute; width:542px; height:4px; bottom:0px; left:0px;  z-index:1001; background-image:url(/egnemoduler/images/topNewsFrame_bottom.png);   background-repeat:no-repeat; }