.contentContainter { float:left; width:100%; }
.articleHeader, .contentNavigationOrigin { float:left; width:70%; }
.contentNavigation, .contentNavigationInner { float:left; width:100%; }
aside { float:right; width:30%; }
.subRightCol1 { float:left; width:100%; }
